# This is the network config written by 'subiquity'
network:
  ethernets: {}
  version: 2
  wifis:
    wlp1s0:
      access-points:
        ALHN-736E:
          password: KSx6Ap7DVX
      dhcp4: true
