[Desktop Entry]
Name=Mount Helper
Name[ar]=مساعد الوصْل
Name[ast]=Encontu de montáu
Name[bg]=Помощник за монтиране
Name[fa]=راهنمای سوارکردن
Name[km]=កម្មវិធី​ជំនួយ​ម៉ោន
Name[mk]=Помагач за монтирање
Name[nl]=Hulpmiddel voor aankoppelen
Name[ro]=Ajutor pentru instalare
Name[sv]=Monteringshjälpare
Name[th]=เครื่องมือช่วยเมานท์
Name[uk]=Помічник монтування
Name[zh_CN]=挂载助手
Comment=Automount and autorun plugged devices
Comment[ar]=يوصل ويشغل تلقائيا الأجهزة الموصلة
Comment[ast]=Montar y executar automáticamente preseos coneutaos
Comment[bg]=Автоматично монтиране на устройствата и пускане на програмите от тях
Comment[fa]=سوارکردن خودکار و اجرای خودکار دستگاه‌های متصل شده
Comment[fi]=Kiinnitä ja avaa liitetyt laitteet automaattisesti
Comment[km]=ម៉ោន និង​ដំណើរការ​ឧបករណ៍​ដែល​បាន​ដោត​ដោយ​ស្វ័យប្រវត្តិ
Comment[mk]=Уреди кои користат автоматско монтирање и извршување
Comment[nl]=Apparaten aankoppelen en autorun uitvoeren
Comment[ro]=Montează și rulează automat dispozitivele conectate
Comment[sv]=Anslutna enheter som automatiskt monteras eller körs
Comment[th]=เมาทน์และเรียกทำงานอุปกรณ์ที่เสียบเข้ามาโดยอัตโนมัติ
Comment[uk]=Автоматичне монтування і автоматичний запуск приєднаних пристроїв
Comment[zh_CN]=自动挂载并运行插入的设备
Exec=/usr/lib/unity-settings-daemon/unity-fallback-mount-helper
Icon=drive-optical
Terminal=false
Type=Application
Categories=
NoDisplay=true
OnlyShowIn=Unity;
X-GNOME-Autostart-Notify=true
AutostartCondition=GNOME3 unless-session gnome
